html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--color-1);
    @mixin font-size 1.6; 

}

img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: var(--color-3);
}
