.generic-content-container {
    p {
        line-height: 1.65;
        margin: 2.88rem 0;
        font-weight: 300;
        @mixin atSmall {
            @mixin font-size 1.8;
        }
    }

    p a {
        font-weight: 500;
    }
    
}