.generic-content-container {
    p {
        line-height: 1.65;
        margin: 0 0 2.88rem 0;
        font-weight: 300; 
        @mixin atSmall {
            @mixin font-size 1.8;
        }
    }

    p a {
        font-weight: 500;
        text-decoration: none;
        border-bottom: 1px solid var(--color-3);
    }
    
}