.flex-layout {

    &--flex {
        display: flex;
    }

    &--flex-inline { display: flex }

    &--row-v-center {
        align-items: center;
    }
    &--row-h-center {
        justify-content: center;
    }
    
    &--row-pull-right {
         margin-left: auto;
    }

    &--column-v-center {
        justify-content: center;
    }
    &--column-h-center {
        align-items: center;
    }

}
