.large-hero {
    position: relative;
    border-bottom: 10px solid var(--color-2);

    &__image {
        display: block;
    }

    &__text-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
    }

    &__title {
        font-weight: 300;
        color: var(--color-2);
        margin: 0;

        @mixin font-size 3.84;
        @mixin atSmall {
            @mixin font-size 7.68;
        }

    }
    &__subtitle {
        font-weight: 300;
        color: var(--color-2);
        margin: 0;

        @mixin font-size 2.4;
        @mixin atSmall {
            @mixin font-size 4.64;
        }


    }
    &__description {
        color: white;
        font-weight: 100;
        text-shadow: 2px 2px 0 hsla(0, 0%, 0%, .1);
        @mixin font-size 1.76;
        @mixin atSmall {
            @mixin font-size 3.0;
        }
        @mixin max-width 48;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
