.wrapper {
    overflow: hidden;
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    @mixin max-width 123.6;
    margin: 0 auto;

    &--medium {
        @mixin max-width 97.6;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
        margin-bottom: 1.6rem;
        @mixin atSmall {
            margin-bottom: 6.2rem;
        }
    }

    &--no-padding-until-medium {
        padding-left: 0;
        padding-right: 0;
        @mixin atMedium {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    &--no-padding-until-large {
        padding-left: 0;
        padding-right: 0;
        @mixin atLarge {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

}

